<div class="jumbotron">
  <h1>Say Hello to ShopManager</h1>
  <p>ShopManager is an easy to use and simple to maintain customer and vehicle management solution for independent automotive repair facilitities.</p>

  <p>Dealerships have powerful tools in their hands; why shouldn't you?</p>

  <p><a class="btn btn-primary btn-lg" href="/users/sign_up">Sign Up Today</a></p>
</div>
