<h2>Weekly Schedule</h2>
<%= week_calendar events: @work_orders do |date, appointments| %>
  <%= date %>

  <% appointments.each do |appointment| %>
    <% if !appointment.completed %>
      <div>
        <%= link_to appointment.customer.full_name, work_order_path(appointment) %>
      </div>
    <% end %>
  <% end %>
<% end %>

